*.js
!lambda/**/*.js
!lambda/**/*.mjs
*.d.ts
node_modules
cdk.out
.cdk.staging
*.DS_Store
.DS_Store

# Security scan artifacts
.ash-ignore.yaml
cdk-outputs.json
.env

# Build artifacts
*.xml
preflabel-iri-cache.json
